/* cssでwidthとheightを調整すると骨格検出がされなくなる */
/* video, canvas {
    width: 400px;
    height: 300px;
} */
.container{
    position: relative;
    /* background-color: aqua; */
}
#video_player{
    position: absolute;
    top: 320px;
}
.checkbox{
    font-size: xx-large;
    position: fixed;
    right: 10%;
    background-color: white;
    border: 0.1px solid #000000;
    padding-block: 10px;
}
#mirror_checkbox{
    top: 50px;
}
#dancing_checkbox{
    top: 100px;
}
